/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --background-color: white;
  --light-color: #f8f8f8;
  --dark-color: #505050;
  --text-color: #131313;
  --link-color: #3b63fb;
  --link-hover-color: #1d3ecf;

  /* fonts */
  --body-font-family: roboto, roboto-fallback, sans-serif;
  --heading-font-family: roboto-condensed, roboto-condensed-fallback, sans-serif;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 19px;
  --body-font-size-xs: 17px;

  /* heading sizes */
  --heading-font-size-xxl: 55px;
  --heading-font-size-xl: 44px;
  --heading-font-size-l: 34px;
  --heading-font-size-m: 27px;
  --heading-font-size-s: 24px;
  --heading-font-size-xs: 22px;

  /* nav height */
  --nav-height: 64px;
}

/* fallback fonts */
@font-face {
  font-family: roboto-condensed-fallback;
  size-adjust: 88.82%;
  src: local('Arial');
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 99.529%;
  src: local('Arial');
}

@media (width >= 900px) {
  :root {
    /* body sizes */
    --body-font-size-m: 18px;
    --body-font-size-s: 16px;
    --body-font-size-xs: 14px;

    /* heading sizes */
    --heading-font-size-xxl: 45px;
    --heading-font-size-xl: 36px;
    --heading-font-size-l: 28px;
    --heading-font-size-m: 22px;
    --heading-font-size-s: 20px;
    --heading-font-size-xs: 18px;
  }
}

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: 1.6;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  scroll-margin: 40px;
}

h1 { font-size: var(--heading-font-size-xxl); }
h2 { font-size: var(--heading-font-size-xl); }
h3 { font-size: var(--heading-font-size-l); }
h4 { font-size: var(--heading-font-size-m); }
h5 { font-size: var(--heading-font-size-s); }
h6 { font-size: var(--heading-font-size-xs); }

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
}

code,
pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

main > div {
  margin: 40px 16px;
}

input,
textarea,
select,
button {
  font: inherit;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
  word-break: break-word;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* buttons */
a.button:any-link,
button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 12px 0;
  border: 2px solid transparent;
  border-radius: 2.4em;
  padding: 0.5em 1.2em;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  background-color: var(--link-color);
  color: var(--background-color);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main > .section {
  margin: 40px 0;
}

main > .section > div {
  max-width: 1200px;
  margin: auto;
  padding: 0 24px;
}

main > .section:first-of-type {
  margin-top: 0;
}

@media (width >= 900px) {
  main > .section > div {
    padding: 0 32px;
  }
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
  margin: 0;
  padding: 40px 0;
}


@font-face {
  font-family: Isidora;
  src: url(/wp-content/themes/lala100/assets/fonts/Isidora-Regular.woff2) format("woff2"), url(/wp-content/themes/lala100/assets/fonts/Isidora-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: Isidora;
  src: url(/wp-content/themes/lala100/assets/fonts/Isidora-RegularIt.woff2) format("woff2"), url(/wp-content/themes/lala100/assets/fonts/Isidora-RegularIt.woff) format("woff");
  font-weight: 400;
  font-style: italic
}

@font-face {
  font-family: Isidora;
  src: url(/wp-content/themes/lala100/assets/fonts/Isidora-SemiBold.woff2) format("woff2"), url(/wp-content/themes/lala100/assets/fonts/Isidora-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal
}

@font-face {
  font-family: Isidora;
  src: url(/wp-content/themes/lala100/assets/fonts/Isidora-SemiBoldIt.woff2) format("woff2"), url(/wp-content/themes/lala100/assets/fonts/Isidora-SemiBoldIt.woff) format("woff");
  font-weight: 600;
  font-style: italic
}

@font-face {
  font-family: Isidora;
  src: url(/wp-content/themes/lala100/assets/fonts/Isidora-Bold.woff2) format("woff2"), url(/wp-content/themes/lala100/assets/fonts/Isidora-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: Isidora;
  src: url(/wp-content/themes/lala100/assets/fonts/Isidora-BoldIt.woff2) format("woff2"), url(/wp-content/themes/lala100/assets/fonts/Isidora-BoldIt.woff) format("woff");
  font-weight: 700;
  font-style: italic
}

@font-face {
  font-family: Isidora;
  src: url(/wp-content/themes/lala100/assets/fonts/Isidora-Black.woff2) format("woff2"), url(/wp-content/themes/lala100/assets/fonts/Isidora-Black.woff) format("woff");
  font-weight: 900;
  font-style: normal
}

@font-face {
  font-family: Isidora;
  src: url(/wp-content/themes/lala100/assets/fonts/Isidora-BlackIt.woff2) format("woff2"), url(/wp-content/themes/lala100/assets/fonts/Isidora-BlackIt.woff) format("woff");
  font-weight: 900;
  font-style: italic
}

/*! tailwindcss v3.4.1 | MIT License | https://tailwindcss.com*/
*,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid
}

:after,
:before {
  --tw-content: ""
}

:host,
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: Isidora, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent
}

body {
  margin: 0;
  line-height: inherit
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px
}

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}

a {
  color: inherit;
  text-decoration: inherit
}

b,
strong {
  font-weight: bolder
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em
}

small {
  font-size: 80%
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: initial
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0
}

button,
select {
  text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
  background-color: initial;
  background-image: none
}

:-moz-focusring {
  outline: auto
}

:-moz-ui-invalid {
  box-shadow: none
}

progress {
  vertical-align: initial
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

summary {
  display: list-item
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0
}

fieldset {
  margin: 0
}

fieldset,
legend {
  padding: 0
}

menu,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0
}

dialog {
  padding: 0
}

textarea {
  resize: vertical
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af
}

[role=button],
button {
  cursor: pointer
}

:disabled {
  cursor: default
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle
}

img,
video {
  max-width: 100%;
  height: auto
}

[hidden] {
  display: none
}

* {
  scrollbar-color: auto;
  scrollbar-width: auto
}

html {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  scroll-behavior: smooth;
  text-align: center;
  font-family: Isidora, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  letter-spacing: .05em;
  --tw-text-opacity: 1;
  color: rgb(176 144 67/var(--tw-text-opacity));
  -webkit-tap-highlight-color: transparent
}

h1 {
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 700;
  text-transform: uppercase
}

h2 {
  font-size: 1.875rem;
  line-height: 2.25rem
}

h2,
h3 {
  text-transform: uppercase;
  font-style: italic
}

a,
button {
  transition-property: all;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s
}

a:hover,
button:hover {
  opacity: .5
}

a:active,
button:active {
  --tw-scale-x: 0.8;
  --tw-scale-y: 0.8;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

*,
::backdrop,
:after,
:before {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f680;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia:
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto
}

@media (min-width:640px) {
  .container {
      max-width: 640px
  }
}

@media (min-width:768px) {
  .container {
      max-width: 768px
  }
}

@media (min-width:1024px) {
  .container {
      max-width: 1024px
  }
}

@media (min-width:1280px) {
  .container {
      max-width: 1280px
  }
}

@media (min-width:1536px) {
  .container {
      max-width: 1536px
  }
}

.btn {
  margin-left: auto;
  margin-right: auto;
  width: 9rem;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(176 144 67/var(--tw-bg-opacity));
  padding: .25rem 1rem;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  --tw-text-opacity: 1;
  color: rgb(240 237 227/var(--tw-text-opacity))
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0
}

.not-sr-only {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal
}

.pointer-events-none {
  pointer-events: none
}

.pointer-events-auto {
  pointer-events: auto
}

.\!visible {
  visibility: visible !important
}

.visible {
  visibility: visible
}

.invisible {
  visibility: hidden
}

.collapse {
  visibility: collapse
}

.static {
  position: static
}

.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.sticky {
  position: sticky
}

.-inset-1 {
  inset: -.25rem
}

.inset-0 {
  inset: 0
}

.bottom-0 {
  bottom: 0
}

.bottom-6 {
  bottom: 1.5rem
}

.end-1 {
  inset-inline-end: .25rem
}

.right-0 {
  right: 0
}

.right-3 {
  right: .75rem
}

.top-3 {
  top: .75rem
}

.isolate {
  isolation: isolate
}

.isolation-auto {
  isolation: auto
}

.-z-10 {
  z-index: -10
}

.z-10 {
  z-index: 10
}

.z-20 {
  z-index: 20
}

.z-50 {
  z-index: 50
}

.col-span-2 {
  grid-column: span 2/span 2
}

.float-start {
  float: inline-start
}

.float-end {
  float: inline-end
}

.float-right {
  float: right
}

.float-left {
  float: left
}

.float-none {
  float: none
}

.clear-start {
  clear: inline-start
}

.clear-end {
  clear: inline-end
}

.clear-left {
  clear: left
}

.clear-right {
  clear: right
}

.clear-both {
  clear: both
}

.clear-none {
  clear: none
}

.\!m-0 {
  margin: 0 !important
}

.mx-auto {
  margin-right: auto
}

.ml-auto,
.mx-auto {
  margin-left: auto
}

.mr-0 {
  margin-right: 0
}

.mt-2 {
  margin-top: .5rem
}

.mt-3 {
  margin-top: .75rem
}

.box-border {
  box-sizing: border-box
}

.box-content {
  box-sizing: initial
}

.line-clamp-none {
  overflow: visible;
  -webkit-box-orient: horizontal;
  -webkit-line-clamp: none
}

.block,
.line-clamp-none {
  display: block
}

.inline-block {
  display: inline-block
}

.inline {
  display: inline
}

.flex {
  display: flex
}

.inline-flex {
  display: inline-flex
}

.table {
  display: table
}

.inline-table {
  display: inline-table
}

.table-caption {
  display: table-caption
}

.table-cell {
  display: table-cell
}

.table-column {
  display: table-column
}

.table-column-group {
  display: table-column-group
}

.table-footer-group {
  display: table-footer-group
}

.table-header-group {
  display: table-header-group
}

.table-row-group {
  display: table-row-group
}

.table-row {
  display: table-row
}

.flow-root {
  display: flow-root
}

.grid {
  display: grid
}

.inline-grid {
  display: inline-grid
}

.contents {
  display: contents
}

.list-item {
  display: list-item
}

.\!hidden {
  display: none !important
}

.hidden {
  display: none
}

.aspect-square {
  aspect-ratio: 1/1
}

.aspect-video {
  aspect-ratio: 16/9
}

.h-10 {
  height: 2.5rem
}

.h-12 {
  height: 3rem
}

.h-16 {
  height: 4rem
}

.h-20 {
  height: 5rem
}

.h-32 {
  height: 8rem
}

.h-36 {
  height: 9rem
}

.h-40 {
  height: 10rem
}

.h-5 {
  height: 1.25rem
}

.h-52 {
  height: 13rem
}

.h-8 {
  height: 2rem
}

.h-80 {
  height: 20rem
}

.h-\[75vh\] {
  height: 75vh
}

.h-\[80\%\] {
  height: 80%
}

.h-auto {
  height: auto
}

.h-fit {
  height: -moz-fit-content;
  height: fit-content
}

.h-full {
  height: 100%
}

.h-screen {
  height: 100vh
}

.max-h-32 {
  max-height: 8rem
}

.max-h-40 {
  max-height: 10rem
}

.max-h-52 {
  max-height: 13rem
}

.max-h-\[75\%\] {
  max-height: 75%
}

.max-h-full {
  max-height: 100%
}

.min-h-72 {
  min-height: 18rem
}

.\!w-full {
  width: 100% !important
}

.w-1 {
  width: .25rem
}

.w-1\/2 {
  width: 50%
}

.w-1\/3 {
  width: 33.333333%
}

.w-1\/5 {
  width: 20%
}

.w-10 {
  width: 2.5rem
}

.w-12 {
  width: 3rem
}

.w-16 {
  width: 4rem
}

.w-2\/3 {
  width: 66.666667%
}

.w-24 {
  width: 6rem
}

.w-3\/4 {
  width: 75%
}

.w-3\/5 {
  width: 60%
}

.w-32 {
  width: 8rem
}

.w-4\/5 {
  width: 80%
}

.w-60 {
  width: 15rem
}

.w-72 {
  width: 18rem
}

.w-8 {
  width: 2rem
}

.w-\[this-is\\\\\] {
  width: this-is\\
}

.w-\[this-is\] {
  width: this-is
}

.w-\[weird-and-invalid\] {
  width: weird-and-invalid
}

.w-auto {
  width: auto
}

.w-full {
  width: 100%
}

.w-screen {
  width: 100vw
}

.max-w-40 {
  max-width: 10rem
}

.max-w-\[75\%\] {
  max-width: 75%
}

.max-w-fit {
  max-width: -moz-fit-content;
  max-width: fit-content
}

.max-w-none {
  max-width: none
}

.flex-1 {
  flex: 1 1 0%
}

.flex-shrink,
.shrink {
  flex-shrink: 1
}

.shrink-0 {
  flex-shrink: 0
}

.flex-grow,
.grow {
  flex-grow: 1
}

.table-auto {
  table-layout: auto
}

.table-fixed {
  table-layout: fixed
}

.caption-top {
  caption-side: top
}

.caption-bottom {
  caption-side: bottom
}

.border-collapse {
  border-collapse: collapse
}

.border-separate {
  border-collapse: initial
}

.-rotate-12 {
  --tw-rotate: -12deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.\!transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important
}

.transform,
.transform-cpu {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.transform-gpu {
  transform: translate3d(var(--tw-translate-x), var(--tw-translate-y), 0) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.transform-none {
  transform: none
}

@keyframes bounce {

  0%,
  to {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(.8, 0, 1, 1)
  }

  50% {
      transform: none;
      animation-timing-function: cubic-bezier(0, 0, .2, 1)
  }
}

.animate-bounce {
  animation: bounce 1s infinite
}

@keyframes fade_in {
  0% {
      opacity: 0
  }

  to {
      opacity: 1
  }
}

.animate-fade-in {
  animation: fade_in 1s
}

@keyframes fade_in_right {
  0% {
      opacity: 0;
      transform: translateX(-3rem)
  }

  to {
      opacity: 1;
      transform: translateX(0)
  }
}

.animate-fade-in-right {
  animation: fade_in_right 1s
}

@keyframes fade_in_scale {
  0% {
      opacity: 0;
      transform: scale(.9)
  }

  to {
      opacity: 1;
      transform: scale(1)
  }
}

.animate-fade-in-scale {
  animation: fade_in_scale 1s
}

@keyframes spin_slow {
  0% {
      transform: rotate(0deg)
  }

  to {
      transform: rotate(1turn)
  }
}

.animate-spin-slow {
  animation: spin_slow 5s linear infinite
}

.cursor-zoom-in {
  cursor: zoom-in
}

.touch-auto {
  touch-action: auto
}

.touch-none {
  touch-action: none
}

.touch-pan-x {
  --tw-pan-x: pan-x
}

.touch-pan-left,
.touch-pan-x {
  touch-action: var(--tw-pan-x) var(--tw-pan-y) var(--tw-pinch-zoom)
}

.touch-pan-left {
  --tw-pan-x: pan-left
}

.touch-pan-right {
  --tw-pan-x: pan-right
}

.touch-pan-right,
.touch-pan-y {
  touch-action: var(--tw-pan-x) var(--tw-pan-y) var(--tw-pinch-zoom)
}

.touch-pan-y {
  --tw-pan-y: pan-y
}

.touch-pan-up {
  --tw-pan-y: pan-up
}

.touch-pan-down,
.touch-pan-up {
  touch-action: var(--tw-pan-x) var(--tw-pan-y) var(--tw-pinch-zoom)
}

.touch-pan-down {
  --tw-pan-y: pan-down
}

.touch-pinch-zoom {
  --tw-pinch-zoom: pinch-zoom;
  touch-action: var(--tw-pan-x) var(--tw-pan-y) var(--tw-pinch-zoom)
}

.touch-manipulation {
  touch-action: manipulation
}

.select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

.select-text {
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text
}

.select-all {
  -webkit-user-select: all;
  -moz-user-select: all;
  user-select: all
}

.select-auto {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  user-select: auto
}

.resize-none {
  resize: none
}

.resize-y {
  resize: vertical
}

.resize-x {
  resize: horizontal
}

.resize {
  resize: both
}

.snap-none {
  scroll-snap-type: none
}

.snap-x {
  scroll-snap-type: x var(--tw-scroll-snap-strictness)
}

.snap-y {
  scroll-snap-type: y var(--tw-scroll-snap-strictness)
}

.snap-both {
  scroll-snap-type: both var(--tw-scroll-snap-strictness)
}

.snap-mandatory {
  --tw-scroll-snap-strictness: mandatory
}

.snap-proximity {
  --tw-scroll-snap-strictness: proximity
}

.snap-start {
  scroll-snap-align: start
}

.snap-end {
  scroll-snap-align: end
}

.snap-center {
  scroll-snap-align: center
}

.snap-align-none {
  scroll-snap-align: none
}

.snap-normal {
  scroll-snap-stop: normal
}

.snap-always {
  scroll-snap-stop: always
}

.list-inside {
  list-style-position: inside
}

.list-outside {
  list-style-position: outside
}

.appearance-none {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

.appearance-auto {
  -webkit-appearance: auto;
  -moz-appearance: auto;
  appearance: auto
}

.break-before-auto {
  -moz-column-break-before: auto;
  break-before: auto
}

.break-before-avoid {
  -moz-column-break-before: avoid;
  break-before: avoid
}

.break-before-all {
  -moz-column-break-before: all;
  break-before: all
}

.break-before-avoid-page {
  -moz-column-break-before: avoid;
  break-before: avoid-page
}

.break-before-page {
  -moz-column-break-before: page;
  break-before: page
}

.break-before-left {
  -moz-column-break-before: left;
  break-before: left
}

.break-before-right {
  -moz-column-break-before: right;
  break-before: right
}

.break-before-column {
  -moz-column-break-before: column;
  break-before: column
}

.break-inside-auto {
  -moz-column-break-inside: auto;
  break-inside: auto
}

.break-inside-avoid {
  -moz-column-break-inside: avoid;
  break-inside: avoid
}

.break-inside-avoid-page {
  break-inside: avoid-page
}

.break-inside-avoid-column {
  -moz-column-break-inside: avoid;
  break-inside: avoid-column
}

.break-after-auto {
  -moz-column-break-after: auto;
  break-after: auto
}

.break-after-avoid {
  -moz-column-break-after: avoid;
  break-after: avoid
}

.break-after-all {
  -moz-column-break-after: all;
  break-after: all
}

.break-after-avoid-page {
  -moz-column-break-after: avoid;
  break-after: avoid-page
}

.break-after-page {
  -moz-column-break-after: page;
  break-after: page
}

.break-after-left {
  -moz-column-break-after: left;
  break-after: left
}

.break-after-right {
  -moz-column-break-after: right;
  break-after: right
}

.break-after-column {
  -moz-column-break-after: column;
  break-after: column
}

.grid-flow-row {
  grid-auto-flow: row
}

.grid-flow-col {
  grid-auto-flow: column
}

.grid-flow-dense {
  grid-auto-flow: dense
}

.grid-flow-row-dense {
  grid-auto-flow: row dense
}

.grid-flow-col-dense {
  grid-auto-flow: column dense
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr))
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr))
}

.flex-row {
  flex-direction: row
}

.flex-row-reverse {
  flex-direction: row-reverse
}

.flex-col {
  flex-direction: column
}

.flex-col-reverse {
  flex-direction: column-reverse
}

.flex-wrap {
  flex-wrap: wrap
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse
}

.flex-nowrap {
  flex-wrap: nowrap
}

.place-content-center {
  place-content: center
}

.place-content-start {
  place-content: start
}

.place-content-end {
  place-content: end
}

.place-content-between {
  place-content: space-between
}

.place-content-around {
  place-content: space-around
}

.place-content-evenly {
  place-content: space-evenly
}

.place-content-baseline {
  place-content: baseline
}

.place-content-stretch {
  place-content: stretch
}

.place-items-start {
  place-items: start
}

.place-items-end {
  place-items: end
}

.place-items-center {
  place-items: center
}

.place-items-baseline {
  place-items: baseline
}

.place-items-stretch {
  place-items: stretch
}

.content-normal {
  align-content: normal
}

.content-center {
  align-content: center
}

.content-start {
  align-content: flex-start
}

.content-end {
  align-content: flex-end
}

.content-between {
  align-content: space-between
}

.content-around {
  align-content: space-around
}

.content-evenly {
  align-content: space-evenly
}

.content-baseline {
  align-content: baseline
}

.content-stretch {
  align-content: stretch
}

.items-start {
  align-items: flex-start
}

.items-end {
  align-items: flex-end
}

.items-center {
  align-items: center
}

.items-baseline {
  align-items: baseline
}

.items-stretch {
  align-items: stretch
}

.justify-normal {
  justify-content: normal
}

.justify-start {
  justify-content: flex-start
}

.justify-end {
  justify-content: flex-end
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.justify-around {
  justify-content: space-around
}

.justify-evenly {
  justify-content: space-evenly
}

.justify-stretch {
  justify-content: stretch
}

.justify-items-start {
  justify-items: start
}

.justify-items-end {
  justify-items: end
}

.justify-items-center {
  justify-items: center
}

.justify-items-stretch {
  justify-items: stretch
}

.gap-12 {
  gap: 3rem
}

.gap-3 {
  gap: .75rem
}

.gap-4 {
  gap: 1rem
}

.gap-6 {
  gap: 1.5rem
}

.gap-7 {
  gap: 1.75rem
}

.gap-x-3 {
  -moz-column-gap: .75rem;
  column-gap: .75rem
}

.gap-x-6 {
  -moz-column-gap: 1.5rem;
  column-gap: 1.5rem
}

.gap-y-12 {
  row-gap: 3rem
}

.gap-y-6 {
  row-gap: 1.5rem
}

.space-x-2>:not([hidden])~:not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(.5rem*var(--tw-space-x-reverse));
  margin-left: calc(.5rem*(1 - var(--tw-space-x-reverse)))
}

.space-y-12>:not([hidden])~:not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(3rem*(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(3rem*var(--tw-space-y-reverse))
}

.space-y-24>:not([hidden])~:not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(6rem*(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(6rem*var(--tw-space-y-reverse))
}

.space-y-3>:not([hidden])~:not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(.75rem*(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(.75rem*var(--tw-space-y-reverse))
}

.space-y-6>:not([hidden])~:not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem*(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem*var(--tw-space-y-reverse))
}

.space-y-reverse>:not([hidden])~:not([hidden]) {
  --tw-space-y-reverse: 1
}

.space-x-reverse>:not([hidden])~:not([hidden]) {
  --tw-space-x-reverse: 1
}

.divide-x>:not([hidden])~:not([hidden]) {
  --tw-divide-x-reverse: 0;
  border-right-width: calc(1px*var(--tw-divide-x-reverse));
  border-left-width: calc(1px*(1 - var(--tw-divide-x-reverse)))
}

.divide-y>:not([hidden])~:not([hidden]) {
  --tw-divide-y-reverse: 0;
  border-top-width: calc(1px*(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px*var(--tw-divide-y-reverse))
}

.divide-y-2>:not([hidden])~:not([hidden]) {
  --tw-divide-y-reverse: 0;
  border-top-width: calc(2px*(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(2px*var(--tw-divide-y-reverse))
}

.divide-y-reverse>:not([hidden])~:not([hidden]) {
  --tw-divide-y-reverse: 1
}

.divide-x-reverse>:not([hidden])~:not([hidden]) {
  --tw-divide-x-reverse: 1
}

.divide-solid>:not([hidden])~:not([hidden]) {
  border-style: solid
}

.divide-dashed>:not([hidden])~:not([hidden]) {
  border-style: dashed
}

.divide-dotted>:not([hidden])~:not([hidden]) {
  border-style: dotted
}

.divide-double>:not([hidden])~:not([hidden]) {
  border-style: double
}

.divide-none>:not([hidden])~:not([hidden]) {
  border-style: none
}

.divide-primary>:not([hidden])~:not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(176 144 67/var(--tw-divide-opacity))
}

.place-self-auto {
  place-self: auto
}

.place-self-start {
  place-self: start
}

.place-self-end {
  place-self: end
}

.place-self-center {
  place-self: center
}

.place-self-stretch {
  place-self: stretch
}

.self-auto {
  align-self: auto
}

.self-start {
  align-self: flex-start
}

.self-end {
  align-self: flex-end
}

.self-center {
  align-self: center
}

.self-stretch {
  align-self: stretch
}

.self-baseline {
  align-self: baseline
}

.justify-self-auto {
  justify-self: auto
}

.justify-self-start {
  justify-self: start
}

.justify-self-end {
  justify-self: end
}

.justify-self-center {
  justify-self: center
}

.justify-self-stretch {
  justify-self: stretch
}

.overflow-auto {
  overflow: auto
}

.overflow-hidden {
  overflow: hidden
}

.overflow-clip {
  overflow: clip
}

.overflow-visible {
  overflow: visible
}

.overflow-scroll {
  overflow: scroll
}

.overflow-x-auto {
  overflow-x: auto
}

.overflow-y-auto {
  overflow-y: auto
}

.overflow-x-hidden {
  overflow-x: hidden
}

.overflow-y-hidden {
  overflow-y: hidden
}

.overflow-x-clip {
  overflow-x: clip
}

.overflow-y-clip {
  overflow-y: clip
}

.overflow-x-visible {
  overflow-x: visible
}

.overflow-y-visible {
  overflow-y: visible
}

.overflow-x-scroll {
  overflow-x: scroll
}

.overflow-y-scroll {
  overflow-y: scroll
}

.overscroll-auto {
  overscroll-behavior: auto
}

.overscroll-contain {
  overscroll-behavior: contain
}

.overscroll-none {
  overscroll-behavior: none
}

.overscroll-y-auto {
  overscroll-behavior-y: auto
}

.overscroll-y-contain {
  overscroll-behavior-y: contain
}

.overscroll-y-none {
  overscroll-behavior-y: none
}

.overscroll-x-auto {
  overscroll-behavior-x: auto
}

.overscroll-x-contain {
  overscroll-behavior-x: contain
}

.overscroll-x-none {
  overscroll-behavior-x: none
}

.scroll-auto {
  scroll-behavior: auto
}

.scroll-smooth {
  scroll-behavior: smooth
}

.truncate {
  overflow: hidden;
  white-space: nowrap
}

.overflow-ellipsis,
.text-ellipsis,
.truncate {
  text-overflow: ellipsis
}

.text-clip {
  text-overflow: clip
}

.hyphens-none {
  -webkit-hyphens: none;
  hyphens: none
}

.hyphens-manual {
  -webkit-hyphens: manual;
  hyphens: manual
}

.hyphens-auto {
  -webkit-hyphens: auto;
  hyphens: auto
}

.whitespace-normal {
  white-space: normal
}

.whitespace-nowrap {
  white-space: nowrap
}

.whitespace-pre {
  white-space: pre
}

.whitespace-pre-line {
  white-space: pre-line
}

.whitespace-pre-wrap {
  white-space: pre-wrap
}

.whitespace-break-spaces {
  white-space: break-spaces
}

.text-wrap {
  text-wrap: wrap
}

.text-nowrap {
  text-wrap: nowrap
}

.text-balance {
  text-wrap: balance
}

.text-pretty {
  text-wrap: pretty
}

.break-normal {
  overflow-wrap: normal;
  word-break: normal
}

.break-words {
  overflow-wrap: break-word
}

.break-all {
  word-break: break-all
}

.break-keep {
  word-break: keep-all
}

.rounded {
  border-radius: .25rem
}

.rounded-full {
  border-radius: 9999px
}

.rounded-lg {
  border-radius: .5rem
}

.rounded-b {
  border-bottom-right-radius: .25rem;
  border-bottom-left-radius: .25rem
}

.rounded-e {
  border-start-end-radius: .25rem;
  border-end-end-radius: .25rem
}

.rounded-l {
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem
}

.rounded-r {
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem
}

.rounded-s {
  border-start-start-radius: .25rem;
  border-end-start-radius: .25rem
}

.rounded-t {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem
}

.rounded-bl {
  border-bottom-left-radius: .25rem
}

.rounded-bl-\[3rem\] {
  border-bottom-left-radius: 3rem
}

.rounded-br {
  border-bottom-right-radius: .25rem
}

.rounded-ee {
  border-end-end-radius: .25rem
}

.rounded-es {
  border-end-start-radius: .25rem
}

.rounded-se {
  border-start-end-radius: .25rem
}

.rounded-ss {
  border-start-start-radius: .25rem
}

.rounded-tl {
  border-top-left-radius: .25rem
}

.rounded-tr {
  border-top-right-radius: .25rem
}

.rounded-tr-\[3rem\] {
  border-top-right-radius: 3rem
}

.border {
  border-width: 1px
}

.border-2 {
  border-width: 2px
}

.border-x {
  border-left-width: 1px;
  border-right-width: 1px
}

.border-y {
  border-top-width: 1px
}

.border-b,
.border-y {
  border-bottom-width: 1px
}

.border-e {
  border-inline-end-width: 1px
}

.border-l {
  border-left-width: 1px
}

.border-r {
  border-right-width: 1px
}

.border-s {
  border-inline-start-width: 1px
}

.border-t {
  border-top-width: 1px
}

.border-solid {
  border-style: solid
}

.border-dashed {
  border-style: dashed
}

.border-dotted {
  border-style: dotted
}

.border-double {
  border-style: double
}

.border-hidden {
  border-style: hidden
}

.border-none {
  border-style: none
}

.border-primary {
  --tw-border-opacity: 1;
  border-color: rgb(176 144 67/var(--tw-border-opacity))
}

.bg-\[\#fff\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255/var(--tw-bg-opacity))
}

.bg-\[rgb\(255\2c 0\2c 0\)\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 0 0/var(--tw-bg-opacity))
}

.bg-black {
  background-color: rgb(0 0 0/var(--tw-bg-opacity))
}

.bg-black,
.bg-primary {
  --tw-bg-opacity: 1
}

.bg-primary {
  background-color: rgb(176 144 67/var(--tw-bg-opacity))
}

.bg-secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(123 94 34/var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(240 237 227/var(--tw-bg-opacity))
}

.bg-white\/95 {
  background-color: #f0ede3f2
}

.bg-opacity-90 {
  --tw-bg-opacity: 0.9
}

.bg-\[url\(\'\/wp-content\/themes\/lala100\/assets\/images\/milk-background\.jpg\'\)\] {
  background-image: url(/wp-content/themes/lala100/assets/images/milk-background.jpg)
}

.bg-gradient-to-b {
  background-image: linear-gradient(180deg, rgba(0,0,0,.5) 0%, rgba(0,0,0,0) 100%)
}
.word-breaks{word-break:break-word}
.bg-gradient-to-t {
  background-image: linear-gradient(to top, var(--tw-gradient-stops))
}

.from-primary\/75 {
  --tw-gradient-from: #b09043bf var(--tw-gradient-from-position);
  --tw-gradient-to: #b0904300 var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.from-white\/90 {
  --tw-gradient-from: #f0ede3e6 var(--tw-gradient-from-position);
  --tw-gradient-to: #f0ede300 var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.decoration-slice {
  -webkit-box-decoration-break: slice;
  box-decoration-break: slice
}

.decoration-clone {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone
}

.box-decoration-slice {
  -webkit-box-decoration-break: slice;
  box-decoration-break: slice
}

.box-decoration-clone {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone
}

.bg-cover {
  background-size: cover
}

.bg-fixed {
  background-attachment: fixed
}

.bg-local {
  background-attachment: local
}

.bg-scroll {
  background-attachment: scroll
}

.bg-clip-border {
  background-clip: initial
}

.bg-clip-padding {
  background-clip: padding-box
}

.bg-clip-content {
  background-clip: content-box
}

.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text
}

.bg-center {
  background-position: 50%
}

.bg-repeat {
  background-repeat: repeat
}

.bg-no-repeat {
  background-repeat: no-repeat
}

.bg-repeat-x {
  background-repeat: repeat-x
}

.bg-repeat-y {
  background-repeat: repeat-y
}

.bg-repeat-round {
  background-repeat: round
}

.bg-repeat-space {
  background-repeat: space
}

.bg-origin-border {
  background-origin: border-box
}

.bg-origin-padding {
  background-origin: initial
}

.bg-origin-content {
  background-origin: content-box
}

.stroke-\[0\.5\] {
  stroke-width: .5
}

.object-contain {
  -o-object-fit: contain;
  object-fit: contain
}

.object-cover {
  -o-object-fit: cover;
  object-fit: cover
}

.object-fill {
  -o-object-fit: fill;
  object-fit: fill
}

.object-none {
  -o-object-fit: none;
  object-fit: none
}

.object-scale-down {
  -o-object-fit: scale-down;
  object-fit: scale-down
}

.object-center {
  -o-object-position: center;
  object-position: center
}

.object-top {
  -o-object-position: top;
  object-position: top
}

.p-1 {
  padding: .25rem
}

.p-12 {
  padding: 3rem
}

.p-3 {
  padding: .75rem
}

.p-6 {
  padding: 1.5rem
}

.px-1 {
  padding-left: .25rem;
  padding-right: .25rem
}

.px-12 {
  padding-left: 3rem;
  padding-right: 3rem
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem
}

.py-24 {
  padding-top: 6rem;
  padding-bottom: 6rem
}

.py-3 {
  padding-top: .75rem;
  padding-bottom: .75rem
}

.pb-10 {
  padding-bottom: 2.5rem
}

.pb-12 {
  padding-bottom: 3rem
}

.pb-24 {
  padding-bottom: 6rem
}

.pt-24 {
  padding-top: 6rem
}

.pt-40 {
  padding-top: 10rem
}

.pt-60 {
  padding-top: 15rem
}

.text-left {
  text-align: left
}

.text-center {
  text-align: center
}

.text-right {
  text-align: right
}

.text-justify {
  text-align: justify
}

.text-start {
  text-align: start
}

.text-end {
  text-align: end
}

.align-baseline {
  vertical-align: initial
}

.align-top {
  vertical-align: top
}

.align-middle {
  vertical-align: middle
}

.align-bottom {
  vertical-align: bottom
}

.align-text-top {
  vertical-align: text-top
}

.align-text-bottom {
  vertical-align: text-bottom
}

.align-sub {
  vertical-align: sub
}

.align-super {
  vertical-align: super
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem
}

.text-6xl {
  font-size: 3.75rem;
  line-height: 1
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-sm {
  font-size: .875rem;
  line-height: 1.25rem
}

.text-xs {
  font-size: .75rem;
  line-height: 1rem
}

.font-black {
  font-weight: 900
}

.font-bold {
  font-weight: 700
}

.font-semibold {
  font-weight: 600
}

.uppercase {
  text-transform: uppercase
}

.lowercase {
  text-transform: lowercase
}

.capitalize {
  text-transform: capitalize
}

.normal-case {
  text-transform: none
}

.italic {
  font-style: italic
}

.not-italic {
  font-style: normal
}

.normal-nums {
  font-variant-numeric: normal
}

.ordinal {
  --tw-ordinal: ordinal
}

.ordinal,
.slashed-zero {
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction)
}

.slashed-zero {
  --tw-slashed-zero: slashed-zero
}

.lining-nums {
  --tw-numeric-figure: lining-nums
}

.lining-nums,
.oldstyle-nums {
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction)
}

.oldstyle-nums {
  --tw-numeric-figure: oldstyle-nums
}

.proportional-nums {
  --tw-numeric-spacing: proportional-nums
}

.proportional-nums,
.tabular-nums {
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction)
}

.tabular-nums {
  --tw-numeric-spacing: tabular-nums
}

.diagonal-fractions {
  --tw-numeric-fraction: diagonal-fractions
}

.diagonal-fractions,
.stacked-fractions {
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction)
}

.stacked-fractions {
  --tw-numeric-fraction: stacked-fractions
}

.leading-5 {
  line-height: 1.25rem
}

.tracking-normal {
  letter-spacing: 0
}

.text-\[\#336699\]\/\[\.35\] {
  color: #33669959
}

.text-primary {
  --tw-text-opacity: 1;
  color: rgb(176 144 67/var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(240 237 227/var(--tw-text-opacity))
}

.underline {
  text-decoration-line: underline
}

.overline {
  text-decoration-line: overline
}

.line-through {
  text-decoration-line: line-through
}

.no-underline {
  text-decoration-line: none
}

.decoration-solid {
  text-decoration-style: solid
}

.decoration-double {
  text-decoration-style: double
}

.decoration-dotted {
  text-decoration-style: dotted
}

.decoration-dashed {
  text-decoration-style: dashed
}

.decoration-wavy {
  text-decoration-style: wavy
}

.underline-offset-4 {
  text-underline-offset: 4px
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.subpixel-antialiased {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto
}

.opacity-0 {
  opacity: 0
}

.bg-blend-normal {
  background-blend-mode: normal
}

.bg-blend-multiply {
  background-blend-mode: multiply
}

.bg-blend-screen {
  background-blend-mode: screen
}

.bg-blend-overlay {
  background-blend-mode: overlay
}

.bg-blend-darken {
  background-blend-mode: darken
}

.bg-blend-lighten {
  background-blend-mode: lighten
}

.bg-blend-color-dodge {
  background-blend-mode: color-dodge
}

.bg-blend-color-burn {
  background-blend-mode: color-burn
}

.bg-blend-hard-light {
  background-blend-mode: hard-light
}

.bg-blend-soft-light {
  background-blend-mode: soft-light
}

.bg-blend-difference {
  background-blend-mode: difference
}

.bg-blend-exclusion {
  background-blend-mode: exclusion
}

.bg-blend-hue {
  background-blend-mode: hue
}

.bg-blend-saturation {
  background-blend-mode: saturation
}

.bg-blend-color {
  background-blend-mode: color
}

.bg-blend-luminosity {
  background-blend-mode: luminosity
}

.mix-blend-normal {
  mix-blend-mode: normal
}

.mix-blend-multiply {
  mix-blend-mode: multiply
}

.mix-blend-screen {
  mix-blend-mode: screen
}

.mix-blend-overlay {
  mix-blend-mode: overlay
}

.mix-blend-darken {
  mix-blend-mode: darken
}

.mix-blend-lighten {
  mix-blend-mode: lighten
}

.mix-blend-color-dodge {
  mix-blend-mode: color-dodge
}

.mix-blend-color-burn {
  mix-blend-mode: color-burn
}

.mix-blend-hard-light {
  mix-blend-mode: hard-light
}

.mix-blend-soft-light {
  mix-blend-mode: soft-light
}

.mix-blend-difference {
  mix-blend-mode: difference
}

.mix-blend-exclusion {
  mix-blend-mode: exclusion
}

.mix-blend-hue {
  mix-blend-mode: hue
}

.mix-blend-saturation {
  mix-blend-mode: saturation
}

.mix-blend-color {
  mix-blend-mode: color
}

.mix-blend-luminosity {
  mix-blend-mode: luminosity
}

.mix-blend-plus-lighter {
  mix-blend-mode: plus-lighter
}

.\!shadow {
  --tw-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a !important;
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important
}

.shadow {
  --tw-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.outline-none {
  outline: 2px solid #0000;
  outline-offset: 2px
}

.outline {
  outline-style: solid
}

.outline-dashed {
  outline-style: dashed
}

.outline-dotted {
  outline-style: dotted
}

.outline-double {
  outline-style: double
}

.ring {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

.ring-inset {
  --tw-ring-inset: inset
}

.blur {
  --tw-blur: blur(8px)
}

.blur,
.drop-shadow {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.drop-shadow {
  --tw-drop-shadow: drop-shadow(0 1px 2px #0000001a) drop-shadow(0 1px 1px #0000000f)
}

.drop-shadow-\[0_0_1px_rgba\(240\2c 237\2c 227\)\] {
  --tw-drop-shadow: drop-shadow(0 0 1px #f0ede3)
}

.drop-shadow-\[0_0_1px_rgba\(240\2c 237\2c 227\)\],
.drop-shadow-\[0_0_6px_rgba\(240\2c 237\2c 227\)\] {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.drop-shadow-\[0_0_6px_rgba\(240\2c 237\2c 227\)\] {
  --tw-drop-shadow: drop-shadow(0 0 6px #f0ede3)
}

.drop-shadow-xl {
  --tw-drop-shadow: drop-shadow(0 20px 13px #00000008) drop-shadow(0 8px 5px #00000014)
}

.drop-shadow-xl,
.grayscale {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.grayscale {
  --tw-grayscale: grayscale(100%)
}

.invert {
  --tw-invert: invert(100%)
}

.invert,
.sepia {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.sepia {
  --tw-sepia: sepia(100%)
}

.\!filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow) !important
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.filter-none {
  filter: none
}

.backdrop-blur {
  --tw-backdrop-blur: blur(8px)
}

.backdrop-blur,
.backdrop-grayscale {
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}

.backdrop-grayscale {
  --tw-backdrop-grayscale: grayscale(100%)
}

.backdrop-invert {
  --tw-backdrop-invert: invert(100%)
}

.backdrop-invert,
.backdrop-sepia {
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}

.backdrop-sepia {
  --tw-backdrop-sepia: sepia(100%)
}

.backdrop-filter {
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}

.backdrop-filter-none {
  -webkit-backdrop-filter: none;
  backdrop-filter: none
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s
}

.duration-1000 {
  transition-duration: 1s
}

.ease-in {
  transition-timing-function: cubic-bezier(.4, 0, 1, 1)
}

.ease-in-out {
  transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

.ease-out {
  transition-timing-function: cubic-bezier(0, 0, .2, 1)
}

.content-\[\'this-is-also-valid\]-weirdly-enough\'\] {
  --tw-content: "this-is-also-valid]-weirdly-enough";
  content: var(--tw-content)
}

.forced-color-adjust-auto {
  forced-color-adjust: auto
}

.forced-color-adjust-none {
  forced-color-adjust: none
}

.scrollbar {
  scrollbar-color: var(--scrollbar-thumb, initial) var(--scrollbar-track, initial)
}

.scrollbar::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track);
  border-radius: var(--scrollbar-track-radius)
}

.scrollbar::-webkit-scrollbar-track:hover {
  background-color: var(--scrollbar-track-hover, var(--scrollbar-track))
}

.scrollbar::-webkit-scrollbar-track:active {
  background-color: var(--scrollbar-track-active, var(--scrollbar-track-hover, var(--scrollbar-track)))
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: var(--scrollbar-thumb-radius)
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover, var(--scrollbar-thumb))
}

.scrollbar::-webkit-scrollbar-thumb:active {
  background-color: var(--scrollbar-thumb-active, var(--scrollbar-thumb-hover, var(--scrollbar-thumb)))
}

.scrollbar::-webkit-scrollbar-corner {
  background-color: var(--scrollbar-corner);
  border-radius: var(--scrollbar-corner-radius)
}

.scrollbar::-webkit-scrollbar-corner:hover {
  background-color: var(--scrollbar-corner-hover, var(--scrollbar-corner))
}

.scrollbar::-webkit-scrollbar-corner:active {
  background-color: var(--scrollbar-corner-active, var(--scrollbar-corner-hover, var(--scrollbar-corner)))
}

.scrollbar {
  scrollbar-width: auto
}

.scrollbar::-webkit-scrollbar {
  display: block;
  width: var(--scrollbar-width, 16px);
  height: var(--scrollbar-height, 16px)
}

.scrollbar-thin {
  scrollbar-color: var(--scrollbar-thumb, initial) var(--scrollbar-track, initial)
}

.scrollbar-thin::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track);
  border-radius: var(--scrollbar-track-radius)
}

.scrollbar-thin::-webkit-scrollbar-track:hover {
  background-color: var(--scrollbar-track-hover, var(--scrollbar-track))
}

.scrollbar-thin::-webkit-scrollbar-track:active {
  background-color: var(--scrollbar-track-active, var(--scrollbar-track-hover, var(--scrollbar-track)))
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: var(--scrollbar-thumb-radius)
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover, var(--scrollbar-thumb))
}

.scrollbar-thin::-webkit-scrollbar-thumb:active {
  background-color: var(--scrollbar-thumb-active, var(--scrollbar-thumb-hover, var(--scrollbar-thumb)))
}

.scrollbar-thin::-webkit-scrollbar-corner {
  background-color: var(--scrollbar-corner);
  border-radius: var(--scrollbar-corner-radius)
}

.scrollbar-thin::-webkit-scrollbar-corner:hover {
  background-color: var(--scrollbar-corner-hover, var(--scrollbar-corner))
}

.scrollbar-thin::-webkit-scrollbar-corner:active {
  background-color: var(--scrollbar-corner-active, var(--scrollbar-corner-hover, var(--scrollbar-corner)))
}

.scrollbar-thin {
  scrollbar-width: thin
}

.scrollbar-thin::-webkit-scrollbar {
  display: block;
  width: 8px;
  height: 8px
}

.scrollbar-none {
  scrollbar-width: none
}

.scrollbar-none::-webkit-scrollbar {
  display: none
}

[x-cloak] {
  display: none !important
}

.colorize {
  filter: invert(50%) sepia(59%) saturate(402%) hue-rotate(5deg) brightness(95%) contrast(88%)
}

@media (min-width:640px) {
  .sm\:container {
      width: 100%;
      margin-right: auto;
      margin-left: auto
  }

  @media (min-width:640px) {
      .sm\:container {
          max-width: 640px
      }
  }

  @media (min-width:768px) {
      .sm\:container {
          max-width: 768px
      }
  }

  @media (min-width:1024px) {
      .sm\:container {
          max-width: 1024px
      }
  }

  @media (min-width:1280px) {
      .sm\:container {
          max-width: 1280px
      }
  }

  @media (min-width:1536px) {
      .sm\:container {
          max-width: 1536px
      }
  }
}

.marker\:text-3xl ::marker {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.marker\:leading-none ::marker {
  line-height: 1
}

.marker\:text-3xl::marker {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.marker\:leading-none::marker {
  line-height: 1
}

.first\:flex:first-child {
  display: flex
}

.group:hover .group-hover\:underline {
  text-decoration-line: underline
}

.hover\:scale-\[1\.15\]:hover {
  --tw-scale-x: 1.15;
  --tw-scale-y: 1.15
}

.hover\:scale-\[1\.15\]:hover,
.hover\:scale-\[1\.2\]:hover {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.hover\:scale-\[1\.2\]:hover {
  --tw-scale-x: 1.2;
  --tw-scale-y: 1.2
}

.hover\:font-bold:hover {
  font-weight: 700
}

.before\:hover\:text-center:hover:before,
.hover\:before\:text-center:hover:before {
  content: var(--tw-content);
  text-align: center
}

.focus\:hover\:text-center:hover:focus,
.hover\:focus\:text-center:focus:hover {
  text-align: center
}

.disabled\:opacity-50:disabled {
  opacity: .5
}

@media (min-width:640px) {
  .sm\:underline {
      text-decoration-line: underline
  }
}

@media (min-width:768px) {
  .md\:h-auto {
      height: auto
  }
}

@media (min-width:1024px) {
  .lg\:relative {
      position: relative
  }

  .lg\:z-0 {
      z-index: 0
  }

  .lg\:col-span-1 {
      grid-column: span 1/span 1
  }

  .lg\:mx-0 {
      margin-left: 0;
      margin-right: 0
  }

  .lg\:mx-auto {
      margin-right: auto
  }

  .lg\:ml-auto,
  .lg\:mx-auto {
      margin-left: auto
  }

  .lg\:mr-0 {
      margin-right: 0
  }

  .lg\:block {
      display: block
  }

  .lg\:\!inline {
      display: inline !important
  }

  .lg\:inline {
      display: inline
  }

  .lg\:flex {
      display: flex
  }

  .lg\:hidden {
      display: none
  }

  .lg\:h-5\/6 {
      height: 83.333333%
  }

  .lg\:h-60 {
      height: 15rem
  }

  .lg\:h-96 {
      height: 24rem
  }

  .lg\:h-auto {
      height: auto
  }

  .lg\:h-screen {
      height: 100vh
  }

  .lg\:max-h-52 {
      max-height: 16rem
  }

  .lg\:w-1\/2 {
      width: 50%
  }

  .lg\:w-1\/3 {
      width: 33.333333%
  }

  .lg\:w-1\/4 {
      width: 25%
  }

  .lg\:w-24 {
      width: 6rem
  }

  .lg\:w-48 {
      width: 12rem
  }

  .lg\:w-72 {
      width: 18rem
  }

  .lg\:w-\[12\.5\%\] {
      width: 12.5%
  }

  .lg\:w-\[75\%\] {
      width: 75%
  }

  .lg\:w-auto {
      width: auto
  }

  .lg\:w-fit {
      width: -moz-fit-content;
      width: fit-content
  }

  .lg\:max-w-3xl {
      max-width: 48rem
  }

  .lg\:max-w-4xl {
      max-width: 56rem
  }

  .lg\:max-w-6xl {
      max-width: 72rem
  }

  .lg\:max-w-\[80\%\] {
      max-width: 80%
  }

  .lg\:max-w-full {
      max-width: 100%
  }

  .lg\:max-w-screen-sm {
      max-width: 640px
  }

  .lg\:grid-cols-2 {
      grid-template-columns: repeat(2, minmax(0, 1fr))
  }

  .lg\:flex-row-reverse {
      flex-direction: row-reverse
  }

  .lg\:items-end {
      align-items: flex-end
  }

  .lg\:justify-between {
      justify-content: space-between
  }

  .lg\:gap-0 {
      gap: 0
  }

  .lg\:gap-x-12 {
      -moz-column-gap: 3rem;
      column-gap: 3rem
  }

  .lg\:gap-y-12 {
      row-gap: 3rem
  }

  .lg\:divide-x-2>:not([hidden])~:not([hidden]) {
      --tw-divide-x-reverse: 0;
      border-right-width: calc(2px*var(--tw-divide-x-reverse));
      border-left-width: calc(2px*(1 - var(--tw-divide-x-reverse)))
  }

  .lg\:divide-none>:not([hidden])~:not([hidden]) {
      border-style: none
  }

  .lg\:divide-\[\#fff\]>:not([hidden])~:not([hidden]) {
      --tw-divide-opacity: 1;
      border-color: rgb(255 255 255/var(--tw-divide-opacity))
  }

  .lg\:self-center {
      align-self: center
  }

  .lg\:border-l-2 {
      border-left-width: 2px
  }

  .lg\:border-r-2 {
      border-right-width: 2px
  }

  .lg\:border-primary {
      --tw-border-opacity: 1;
      border-color: rgb(176 144 67/var(--tw-border-opacity))
  }

  .lg\:bg-transparent {
      background-color: initial
  }

  .lg\:p-0 {
      padding: 0
  }

  .lg\:p-24 {
      padding: 6rem
  }

  .lg\:px-12 {
      padding-left: 3rem;
      padding-right: 3rem
  }

  .lg\:py-24 {
      padding-top: 6rem;
      padding-bottom: 6rem
  }

  .lg\:pb-12 {
      padding-bottom: 3rem
  }

  .lg\:pb-24 {
      padding-bottom: 6rem
  }

  .lg\:pl-12 {
      padding-left: 3rem
  }

  .lg\:pr-12 {
      padding-right: 3rem
  }

  .lg\:pt-12 {
      padding-top: 3rem
  }

  .lg\:pt-24 {
      padding-top: 6rem
  }

  .lg\:pt-40 {
      padding-top: 10rem
  }

  .lg\:text-left {
      text-align: left
  }

  .lg\:text-right {
      text-align: right
  }

  .lg\:text-4xl {
      font-size: 2.25rem;
      line-height: 2.5rem
  }

  .lg\:text-6xl {
      font-size: 3.75rem;
      line-height: 1
  }

  .lg\:text-base {
      font-size: 1rem;
      line-height: 1.5rem
  }
}

@media (prefers-color-scheme:dark) {
  @media (min-width:1024px) {
      .dark\:lg\:hover\:\[paint-order\:markers\]:hover {
          paint-order: markers
      }
  }
}

.\[\&_ul\]\:list-inside ul {
  list-style-position: inside
}

.\[\&_ul\]\:list-image-\[url\(\/wp-content\/themes\/lala100\/assets\/images\/check\.svg\)\] ul {
  list-style-image: url(/wp-content/themes/lala100/assets/images/check.svg)
}

.\[\&_ul\]\:-space-y-2 ul>:not([hidden])~:not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(-.5rem*(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(-.5rem*var(--tw-space-y-reverse))
}

.\[\&_ul\]\:text-xs ul {
  font-size: .75rem;
  line-height: 1rem
}

@media (min-width:1024px) {
  .lg\:\[\&_ul\]\:list-image-\[url\(\/wp-content\/themes\/lala100\/assets\/images\/check\.svg\)\] ul {
      list-style-image: url(/wp-content/themes/lala100/assets/images/check.svg)
  }
}